beautifulsoup4
matplotlib
numpy
pandas
protobuf
Requests
scipy
streamlit
tls_client
Unidecode
ipykernel
cycler
blinker
typing_extensions
cachetools
click
tornado
utils
pytz
pip
pyarrow
fastparquet
appdirs